/* VARIABLES */
:root {
    /* Sizes */
    --header-height: 70px;
    --sidebar-lg-width: 150px;
    --sidebar-sm-width: 60px;
    --top_content-sm-height: 300px; 
    --top_content-height: 150px;

    /* Colors */
    --bg-sidebar: #092237;
    --bg-top: #1b72e8;
}

/* RESET */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

/* WRAPPER */
.web-app {
    height: 100vh;
    width: 100%;
}

/* HEADER */
header {
    height: var(--header-height);
}

.navbar {
    height: 70px;
}

.mobile_logo {
    width: 50px;
    height: 50px;
}

/* MAIN */
main {
    height: calc(100% - var(--header-height));
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: var(--sidebar-lg-width);
    height: 100%;
    background-color: var(--bg-sidebar);
    background-image: url(../img/sidebar-bg.png);
}

.upper_sidebar,
.lower_sidebar {
    height: 50%;
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 60px;
    }
}

/* Content */
.content {
    width: calc(100% - var(--sidebar-sm-width));
    /* debug */
    height: 100%;
}

.top_content {
    height: var(--top_content-height);
    /* debug */
    background-color: var(--bg-top);
}

@media screen and (max-width: 768px) {
    .top_content {
        height: var(--top_content-sm-height);
    }
}

.font-2r {
    font-size: 2rem;
}

.font-3r {
    font-size: 3rem;
}


.middle_content {
    /* debug */
    background-color: beige;
    width: 100%;
    height: 100%;
}